<div [ngClass]="{'slideclose': !navStatus}">
    <div class="col">
        <div id="sidebar" class="ntslidebar bg-light shadow-sm">
            <a *ngIf="title != null" class="nav-link" href="#">{{title}}</a>
            <div *ngIf="menuSettings != null" class="list-group list-group-flush bg-danger">
                <div *ngFor="let menu of menuSettings.menuItems" class="">
                    <NTMenuItem [link]='menu.link' [title]='menu.title' [icon]='menu.icon'></NTMenuItem>
                </div>
            </div>
        </div>
    </div>
</div>